In [173]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [174]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [175]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [176]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
from sqlalchemy import extract
results = session.query(Measurement).filter(extract('month',Measurement.date) == 6)
print(results )

SELECT measurement.id AS measurement_id, measurement.station AS measurement_station, measurement.date AS measurement_date, measurement.prcp AS measurement_prcp, measurement.tobs AS measurement_tobs
FROM measurement
WHERE CAST(STRFTIME('%m', measurement.date) AS INTEGER) = ?

In [177]:
#  3. Convert the June temperatures to a list.
june_temp = [temp.tobs for temp in results]

In [178]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temp_df = pd.DataFrame(june_temp, columns=['june'])

In [179]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temp_df.head()

   june
0  78.0
1  76.0
2  78.0
3  76.0
4  77.0

## D2: Determine the Summary Statistics for December

In [180]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results = session.query(Measurement.date).all()

In [181]:

from sqlalchemy import extract
results = session.query(Measurement).filter(extract('month',Measurement.date) == 12)
print(results)

SELECT measurement.id AS measurement_id, measurement.station AS measurement_station, measurement.date AS measurement_date, measurement.prcp AS measurement_prcp, measurement.tobs AS measurement_tobs
FROM measurement
WHERE CAST(STRFTIME('%m', measurement.date) AS INTEGER) = ?

In [182]:
# 7. Convert the December temperatures to a list.
December_temp = [temp.tobs for temp in results]

In [183]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
December_temp_df = pd.DataFrame(December_temp, columns=['December'])

In [184]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
December_temp_df.head()

   December
0      76.0
1      74.0
2      74.0
3      64.0
4      64.0

In [185]:
# summary statics
December_temp_df.describe()

          December
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000